html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

body {
    background-color: rgb(34, 40, 51);
    font-family: 'Questrial', sans-serif;
    
}

h1 {
    color: white;
}

h2 {
    color: white;
}

div {
    color: lemonchiffon;
}

.card-display {
    margin: 5px 5px;
    font-size: 24px;

}
